# Binaries and build outputs
bin/
main
*.exe
*.exe~
*.dll
*.so
*.dylib
out/
dist/

# Log files
*.log

# Editor/OS files
.vscode/
.idea/
.DS_Store
*.sw?

# Git files
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Go workspaces & tests
go.work
go.work.sum
*.test
*.out
